<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>blank</title>
      <style type="text/css">
   </style>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>

    <div id="top"class="top"></div>
    
    <div class="maintext">
		<div id="left"class="left"></div>
	
		<div id="middle"class="middle">
		  	<th:block th:each="post : ${postlist}">
				<p th:text="${post.getName}"> 	</p><a th:href="@{/see-post/{name}(name=${post.getName})}">     see-more</a>
				<p th:text="${post.getShortContext}">	</p>
				<p th:text="${post.getVisibleNameBySelectedID}"> </p>
				<hr width="60%">
			</th:block> 
    	</div>
    
		<div id="right"class="right"></div>
	</div>
	
      
   
   </body>
   
</html>
 